<%= @language %>:
  activerecord:
    attributes:
      <%= "#{@modules.join('/')}" %><%= @modules.empty? ? '' : '/'%><%= "#{file_name.underscore}" %>:<% attributes.map(&:name).each do |attribute| %>
        <%=attribute%>: '<%= @dic[:attributes][attribute] %>'<% end %>
    errors:
      models:
          <%= "#{@modules.join('/')}" %><%= @modules.empty? ? '' : '/'%><%= "#{file_name.underscore}" %>:
            attributes:
